body{
  background: linear-gradient(150deg,#e4eaed,#ffffff); /*グラデーション方向,開始色,終了色*/
}
/*全体的な指定----------------------------------------------------------------------------------------------------------*/
.section{
  margin-bottom: 30px;
}
.title-text{
  text-align: left;
  margin-bottom: 10px;
  padding-left: 40px;
  color: #2e5773;
  font-family: "Noto Sans JP", "Roboto", sans-serif;
  font-size: 60px;
}
.main-text{
  padding-right: 40px;
  padding-left: 40px;
  font-family: "メイリオ", "sans-serif", sans-serif;
  font-size: 40px;
}
/*ヘッダー関連----------------------------------------------------------------------------------------------------------*/
.header{
  position: sticky;
  top:0;
  width: 100%;
  background-color: white;
  z-index: 80;
}
.header-img{
  height: 140px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
}
/*カルーセル関連--------------------------------------------------------------------------------------------------------*/
.carousel-img{
  display: block; /*imgはインライン要素なので一旦ブロック要素にしてあげてください。*/
  width: 98%;
  margin: 20px auto; /*margin-top:　20px,margin-bottom: 20px,margin-right: auto,margin-left: auto;と同じ内容です。*/
  border-radius: 36px;
}
/*カレンダー関連--------------------------------------------------------------------------------------------------------*/
input[type=radio]{
  display: none;
}
.calender-btn{
  white-space: nowrap;
  overflow-x: scroll;
}
.calender-btn > li{
  display: inline-block;
  margin: 30px 30px;
  padding: 5px 60px;
  border-radius: 100vh;
  list-style: none;
  color: #303030;
  background-color: #9dc8dd;
  font-family: "Noto Sans JP", "Roboto", sans-serif;
  font-size: 56px;
}
.calender-all{
  margin:40px;
}
.calender-btn > li:hover{
  cursor: pointer;
}
.calender-btn > li > label:hover{
  cursor: pointer;
}
#sbh0,#sbh1,#sbh2,#sbh3,#sbh4,#sbh5,#sbh7,#sbh8,#sbh9,#sbh10,#sbh11,#sbh12{
  display: none;
}
.calender-tab > .tags{
  position: relative;
  background: none;
  margin-bottom: 26px;
}
.calender-tab > .tags > img{/*calender-tabクラス内のtagsクラス内にあるimg要素に適用されます*/
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}
.calender-tab > .tags > .calender-date{
  position: absolute;
  top: -20px;
  left: 4px;
  padding: 0 16px 6px;
  border-radius: 100vh;
  color: #FFFFFF;
  background: rgba(45, 75, 112, 1);
  font-family: "Noto Sans JP", "Roboto", sans-serif;
  font-size: 36px;
}
.calender-cap{
  text-align: center;
  margin-top: 4px;
  font-family: "Noto Sans JP", "Roboto", sans-serif;
  font-size: 38px;
}
/*Q&A関連-------------------------------------------------------------------------------------------------------------*/
.question{
  width: max-content;
  max-width: 80%;
  margin-left: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 30px 5px;
  border-radius: 0px 26px 26px 26px;
  color: #000000;
  background: #9dc8dd;
  font-family: "メイリオ", "sans-serif", sans-serif;
  font-size: 40px;
}
.answer{
  width: 80%;
  margin-left: 20%;
  padding: 10px 20px 5px;
  border-radius: 26px 0px 26px 26px;
  color: #000000;
  background: #86b792;
}