html{
  font-size: 62.5%;/*内容:htmlのfont-sizeを16px->10pxに変更。理由:rem単位での指定をやりやすくするため。*/
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2.4rem;
}
p{
  font-size: 2rem;
}
.bg-beige{
  background: wheat;
}

