p {
  margin: 0 0;
}

body {
  background-color: #f7f7f7;
}

.boxBorder {
  border: 1px solid #adb5bd;
}

.flexStart {
  display: flex;
  margin: 0 auto;
}

.roundedShopImg{
  border-radius: 15px;
}

.shopImg {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.shopText {
  position: absolute;
  bottom: 0;
  right: 0;
}

.shopImgBox{
  width: 25%;
}

.shopImgBox > img{
  border-radius: 15px;
}