p{
  margin: 0 0;
}

body{
  background-color: #f7f7f7;
}

.boxBorder{
  border: 1px solid #adb5bd;
}
.f-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.f-item-title{
  text-align: left;
}

.shopImg{
  width:  100%;
  height: auto;
}

.shopName {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5rem;
}

.shopSummary{
  font-family: "Noto Sans JP", sans-serif;
  font-size:1rem;
}

