p {
  margin: 0 0;
}

body {
  background-color: #f7f7f7;
}

.boxBorder {
  border: 1px solid #adb5bd;
}

.flexStart {
  display: flex;
  margin: 0 auto;

}

.shopImg {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.shopTextBox {
  width: 75%;
  display: block;
  justify-content: flex-start;
}

.shopText {
  display: block;
  width: 70%;
}