/* modal control */
.input-modal {
  position: fixed;
  top: 32px;
  right: 32px;
  width: 30%;
  height: 40%;
  background-color: whitesmoke;
  border-radius: 8px;
/* default is hidden */
  visibility: hidden;
  z-index: -100;
}
.open-modal{
/* click -> visible */
  visibility: visible;
  z-index: 1000;
}

/* close button */
.close {
  color: #3c3f41;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

#mainMap{
  width: 70%;
  height: auto;
}

.text{
  position: absolute;
  background-color: whitesmoke;
  font-size: 1.5rem;
  border-radius: 8px;
  z-index: 50;
}

