/*オープニングアニメーションの設定*/
.OP-logo {
  animation:
      rotate-anime 0.5s ease-in-out,
      scale-out 1s ease-in 0.5s,
      opacity 1s ease-in 0.5s;
  animation-fill-mode: forwards;
  z-index: 100;
}
@keyframes rotate-anime {
  0%  {transform: rotate(360deg) scale(3);}
  100%  {transform: rotate(0) scale(1);}
}
@keyframes scale-out {
  0%{ transform: scale(1);}
  99%{ transform: scale(1.3);}
  100%{ transform: scale(0);}
}
@keyframes opacity {
  0%{ opacity: 100;}
  100%{ opacity: 0;}
}
.OP-center {
  width: 80%;
  max-width: 600px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.OP-white{
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  animation:
    scale-in 1s ease-in 1s;
  animation-fill-mode: forwards;
  z-index: 90;
}
@keyframes scale-in {
  0%{transform: translateY(0);}
  100%{transform: translateY(-3000px);}
}

/*ボタン系の設定*/
.btnSeeAll{
  font-size: 2.5rem;
  font-family:  'Lexend', sans-serif;
  color: #1b1e21;
  text-display: none;
  text-decoration: none;
}
.btnSeeAll span{
  display: inline-block;
  transform-origin: 50% 50% 0;
}
.btnSeeAll:hover span{
  transition: 0.3s;
  transform: translateY(5px);
}
.mainContent{
  padding-left: 20px;
  padding-right: 20px;
}

/*トップスライドショー制御*/
.top-slideshow-A{
  display: flex;
  animation: loop-slide 20s infinite linear 1s both;
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-63%);
  }
}

.top-animation-photo{
  height: 42vh;
}

.wrap{
  display: flex;
  align-items: center;
  height: 39vh; /*top-animation-photoのheightと合わせて変更お願いします*/
  overflow: hidden;
}

li{
  list-style:none
}

/*イベントの表示制御*/
.event-default-block{
  display: block;
}
.event-default-none{
  display: none;
}

