.borderNews{
  border:1px solid #07c3f2;
  padding-top: 10px;
  border-radius: 15px;
}

.blue{
  color: #07c3f2;
}

#TitleLogo{
  position: absolute;
}

.navigation{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navigation ul{
  display: flex;
  list-style: none;
}
.navigation li{
  margin-right: 40px;
}

.header a{
  font-size: 15px;
  text-decoration: none;
}