.header-img{
  height: 160px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.section{
  margin: 40px auto;
}

body{
  background: linear-gradient(150deg,#d9f3f7,#ffffff); /*グラデーション方向,開始色,終了色*/
}

.carousel-img{
  width: 98%;
  border-radius: 30px;
  display: block; /*imgはインライン要素なので一旦ブロック要素にしてあげてください。*/
  margin: 20px auto; /*margin-top:　20px,margin-bottom: 20px,margin-right: auto,margin-left: auto;と同じ内容です。*/
}

.title-text{
  font-size: 60px;
  color: #2D4B70;
  text-align: center;
  font-family: "Noto Sans JP", "Roboto", sans-serif;
}
.main-text{
  font-size: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Noto Sans JP", "Roboto", sans-serif;
}

.calender-btn > li{
  list-style: none;
  display: inline-block;
}

input[type=radio]{
  display: none;
}
.question{
  font-size: 50px;
  color: #2D4B70;
  font-family: "Noto Sans JP", "Roboto", sans-serif;
}